.mine {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0px;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0px;
}

.menu li a {
    display: block;
    width: 200px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 122, 10);
    border: 3px solid #9100e5;
    font-size: 25px;
    white-space: nowrap;
    box-sizing: border-box;
}

.text {
    font-size: 20px;
}
.iframe {
    width: 618px;
    height: 347px;
}
.news {
    border: solid;

}
@media (max-width: 800px) {
    .menu li a {
        display: block;
        width: 80px;
        line-height: 25px;
        text-align: center;
        text-decoration: none;
        color: rgb(0, 122, 10);
        border: 3px solid #9100e5;
        font-size: 12px;
        white-space: nowrap;
        box-sizing: border-box;
    }
    .iframe {
        width: 309px;
        height: 173px;
    }
}
