.mine {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0px;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0px;
}

.menu li a {
    display: block;
    width: 200px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 122, 10);
    border: 3px solid #9100e5;
    font-size: 25px;
    white-space: nowrap;
    box-sizing: border-box;
}

.text {
    font-size: 20px;
}
.iframe {
    width: 618px;
    height: 347px;
}
.img {
    width: 309px;
    height: 173px;
}
.news {
    border: solid;

}
.member {
    display: flex;       /* 横並びにする */
    align-items: flex-start; /* 画像の上に文字の上端を揃える */
    gap: 20px;           /* 画像と文字の間の余白 */
    margin-bottom: 20px; /* メンバー間の余白 */
}

.member img {
    order: 0;
    width: 240px;       /* 画像サイズ */
    height: auto;       /* 高さは自動で比率を維持 */
}

.member-text {
    order: 1;
    flex: 1;            /* 残りの幅を使う */
}

@media (max-width: 800px) {
    .menu li a {
        display: block;
        width: 80px;
        line-height: 25px;
        text-align: center;
        text-decoration: none;
        color: rgb(0, 122, 10);
        border: 3px solid #9100e5;
        font-size: 12px;
        white-space: nowrap;
        box-sizing: border-box;
    }
    .iframe {
        width: 309px;
        height: 173px;
    }
        .img {
        width: 154px;
        height: 86px;
    }
    .member img {
        order: 0;
        width: 120px;       /* 画像サイズ */
        height: auto;       /* 高さは自動で比率を維持 */
    }
    .member-text {
        order: 1;
        flex: 1;            /* 残りの幅を使う */
        font-size: 17px;
    }



}
